{% extends 'core/base.html' %}

{% load markdown_deux_tags %}

{% block content %}
<section class="section">
    <div class="container" style="max-width: 35em;">
        <h1 class="title">Document Viewer</h1>
        <p>Please read the document below carefully. When you are finished, copy the Document ID (at the bottom of the page) back into the survey.</p>
        <hr>
        <div class="content" style="font-family: Georgia, 'Times New Roman', Times, serif;">
            {{document.display_format|markdown}}
        </div>
        <div class="notification">
        <p>Document ID: <span class="is-family-monospace">{{document.spid}}
        </div>
    </div>
</section>
{% endblock %}